<app-navbar></app-navbar>

<body>
  <div>
    <h3>Cadastrar Candidato</h3>
    <form (ngSubmit)="insertCandidato()">
      <input type="text" name="nome" id="nome" [(ngModel)]="candidato.nome" class="form-control"
        placeholder="Digite o nome do candidato" aria-label="Username" aria-describedby="basic-addon1">

      <input type="text" name="email" id="email" [(ngModel)]="candidato.email" class="form-control"
        placeholder="Digite o nome do email" aria-label="Username" aria-describedby="basic-addon1">

      <select name="id_vaga" id="id_vaga" [(ngModel)]="candidato.id_vaga">
        <option *ngFor="let emp of vagas" [value]="emp.id">{{emp.nome}}</option>
      </select>
      <select name="id_linguagem" id="id_linguagem" [(ngModel)]="candidato.id_linguagem">
        <option *ngFor="let emp of linguagems" [value]="emp.id">{{emp.nome}}</option>
      </select>
      <button type="submit" class="btn btn-dark">Cadastrar</button>
    </form>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Candidato</th>
        <th scope="col">Email</th>
        <th scope="col">Vaga</th>
        <th scope="col">Vaga Linguagem</th>
        <th scope="col">Candidato Linguagem</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of candidatos">
        <th scope="row">{{emp.id}}</th>
        <td>{{emp.nome}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.vaga.nome}}</td>
        <td>{{emp.vaga.linguagem.nome}}</td>
        <td>{{emp.linguagem.nome}}</td>
        <td>
          <div class="example-button-row">
            <button type="button" routerLink="/edit-candidato/{{emp.id}}" class="btn btn-primary">Editar</button>
            <button type="button" (click)="deleteCandidato(emp.id)" class="btn btn-primary">Excluir</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
