<app-navbar></app-navbar>
<h1 style="text-align:center">Sistema RH</h1>

<div align="center" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://i.pinimg.com/236x/a7/6d/2d/a76d2de6fc4b08f49e9b466aa4e2637b.jpg" alt="Card image cap" width="50" height="200">
  <div class="card-body">
    <h5 class="card-title">LINGUAGENS</h5>
    <a routerLink="linguagem" class="btn btn-primary">Acessar</a>
  </div>
</div>

<div align="center" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1244222708" alt="Card image cap" width="50" height="200">
  <div class="card-body">
    <h5 class="card-title">VAGAS</h5>
    <a routerLink="vaga" class="btn btn-primary">Acessar</a>
  </div>
</div>

<div align="center" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://i.pinimg.com/originals/d1/49/ac/d149ac8e53ab67c2759491a105d27667.jpg" alt="Card image cap" width="50" height="200">
  <div class="card-body">
    <h5 class="card-title">CANDIDATOS</h5>
    <a routerLink="candidato" class="btn btn-primary">Acessar</a>
  </div>
</div>

<footer>
  <p align="right"> Gabriela Gomes &copy; 2021 </p>
</footer>
