
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Contato</h4>
      <b><span class="text-muted">E-mail: gabriela.gomes.bsntec@gmail.com</span></b>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button type="button" routerLink="/" class="btn btn-primary">Inicio</button>

    <img src="https://t4.ftcdn.net/jpg/03/82/29/97/360_F_382299724_wQ14MOqgj19aMMBBREpAdW5aluG6fJPR.jpg" width="100" height="70">
  </nav>
</div>




<!-- <div class="wrapper">
  <div class="sidebar">
      <h2>
        <img class="logo"src="" alt="">
      </h2>
      <ul>
         <li><a routerLink="/"><i class="fas fa-home"></i>Inicio</a></li>
          <li><a routerLink="/linguagem"><i class="fas fa-user"></i>Cadastro de Linguagens</a></li>
      </ul>

  </div>
  <div class="main_content">
      <div class="header">Serviços de RH</div>

</div>

</div> -->

